@charset "UTF-8";
@font-face {
  font-family: 'Circular Bold';
  src: url("/assets/fonts/Circular-Bold.woff2.ttf");
}

@font-face {
  font-family: 'Circular';
  src: url("/assets/fonts/Circular-Book.woff.ttf");
}

@font-face {
  font-family: 'PingFang SC';
  src: url("/assets/fonts/PingFang-SC.ttf");
}

@font-face {
  font-family: 'PingFang SC Bold';
  src: url("/assets/fonts/PingFang-SC-Bold.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Circular Bold';
}

a {
  text-decoration: none;
  color: #ccc;
}

body {
  font-family: "PingFang SC", "Circular", "MircoSoft YaHei", Sans-serif;
  color: #ccc;
}

.flex-vertically-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-horizontal-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-wrapper {
  width: 100%;
  height: 100vh;
  border: #eee 8px solid;
  background-color: #170f11;
  overflow-x: hidden;
  overflow-y: scroll;
  /* IE10/Edge 去除滚动条 */
  -ms-overflow-style: none;
  /* firefox 64 隐藏滚动条 */
  scrollbar-color: transparent transparent;
  /* firefox 64 去除滚动条 */
  scrollbar-width: none;
  /* 视差滚动 */
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 10px;
          perspective: 10px;
}

/* Chrome 去除滚动条 */
.body-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.margin-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
}

/* one-page */
.one-page-wrapper {
  height: 100vh;
  margin: 0 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title-block {
  width: 100%;
  height: 260px;
  position: relative;
}

.title {
  width: 500px;
  height: 250px;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}

.title h1 {
  max-width: 600px;
}

.title h1 span {
  font-size: 96px;
  line-height: 100%;
  font-family: 'Circular Bold';
  position: absolute;
}

.title h1 span:nth-child(1) {
  right: 0;
  top: 0;
}

.title h1 span:nth-child(2) {
  right: 0;
  top: 96px;
  z-index: 2;
  text-align: right;
}

.title h2 {
  font: 32px 'PingFang SC Bold';
  position: absolute;
  right: 80px;
  bottom: 30px;
  -webkit-transform: translateZ(2px) scale(0.8);
          transform: translateZ(2px) scale(0.8);
}

/* date */
.date {
  width: 150px;
  height: 270px;
  position: relative;
}

.date .month, .date .day {
  font: 128px 'Circular Bold';
  line-height: 100%;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.date .month {
  position: absolute;
  top: 0;
  left: 0;
}

.date .day {
  position: absolute;
  left: 174px;
  bottom: 45px;
  -webkit-transform: translateZ(4px) scale(0.6);
          transform: translateZ(4px) scale(0.6);
  z-index: 1;
}

/* line */
.line, .line-date-1, .line-title-1, .line-title-2, .line-title-3, .line-bottom, .line-guide {
  position: absolute;
  width: 20px;
  height: 140px;
  background-color: #823;
  -webkit-box-shadow: 0 0 8px #000;
          box-shadow: 0 0 8px #000;
}

.line-date-1 {
  top: 55px;
  left: 146px;
  -webkit-transform: translateZ(2px) rotate(60deg) scale(0.8);
          transform: translateZ(2px) rotate(60deg) scale(0.8);
  z-index: 2;
}

.line-title-1 {
  top: -15px;
  right: 300px;
  -webkit-transform: translateZ(3px) rotate(60deg) scale(0.7);
          transform: translateZ(3px) rotate(60deg) scale(0.7);
}

.line-title-2 {
  top: 55px;
  right: 515px;
  -webkit-transform: translateZ(4px) rotate(60deg) scale(0.6);
          transform: translateZ(4px) rotate(60deg) scale(0.6);
  z-index: -1;
}

.line-title-3 {
  bottom: -5px;
  right: 315px;
  -webkit-transform: translateZ(5px) rotate(60deg) scale(0.5);
          transform: translateZ(5px) rotate(60deg) scale(0.5);
  z-index: 1;
}

.line-bottom {
  width: 168px;
  height: 16px;
  bottom: 25%;
  left: 50%;
  -webkit-transform: translateZ(6px) translateX(-50%) rotate(-30deg) scale(0.4);
          transform: translateZ(6px) translateX(-50%) rotate(-30deg) scale(0.4);
  z-index: 10;
}

.line-bottom .text {
  position: absolute;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  font: 24px 'Circular Bold';
}

.about-me {
  width: calc(100vw - 40px * 2);
  max-width: 400px;
  height: calc(100vw - 40px * 2);
  max-height: 400px;
  padding: 24px;
  border: 12px #823 solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 24px;
  position: relative;
}

.about-me-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-me-header h1 {
  font-size: 2em;
}

.about-me .intro, .about-me .intro-github, .about-me .intro-wechat, .about-me .intro-qq, .about-me .intro-mail {
  opacity: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  position: absolute;
  bottom: 24px;
  left: 24px;
  width: calc(100vw - (76px) * 2);
  max-width: 364px;
}

.about-me .intro p, .about-me .intro-github p, .about-me .intro-wechat p, .about-me .intro-qq p, .about-me .intro-mail p {
  font-size: 1em;
  overflow-wrap: break-word;
}

.about-me .intro-wechat, .about-me .intro-qq {
  width: calc(100vw - (76px) * 2);
  height: calc(100vw - (76px) * 2);
  max-width: 328px;
  max-height: 328px;
}

.about-me .intro {
  opacity: 1;
}

.about-me .intro-github, .about-me .intro-wechat, .about-me .intro-qq, .about-me .intro-mail {
  pointer-events: none;
}

.about-me .intro-wechat img, .about-me .intro-qq img {
  width: 100%;
}

.about-me .icon-social {
  position: absolute;
  bottom: -57px;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-me .icon-social i {
  display: inline;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.about-me .icon-social .info {
  height: 20px;
  font-size: 20px;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  opacity: 0;
  -webkit-transition: opacity .5s .2s ease;
  transition: opacity .5s .2s ease;
}

.about-me .icon-svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.about-me .icon-wrapper {
  display: inline-block;
  margin-right: 20px;
  font-size: 20px;
  line-height: 1;
  position: relative;
}

.background {
  width: 100%;
  height: 120vh;
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.4))), url("/assets/imgs/background/72235081_p0.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("/assets/imgs/background/72235081_p0.jpg");
  background-position: center;
  background-size: cover;
  -webkit-transform: translateZ(-160px) scale(17);
          transform: translateZ(-160px) scale(17);
  z-index: -99;
}

/* guide line */
@-webkit-keyframes floating {
  from {
    top: -5px;
  }
  50% {
    top: 10px;
  }
  to {
    top: -5px;
  }
}
@keyframes floating {
  from {
    top: -5px;
  }
  50% {
    top: 10px;
  }
  to {
    top: -5px;
  }
}

.line-guide {
  width: 20px;
  padding-top: 8px;
  text-align: center;
  position: fixed;
  bottom: -100px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  cursor: pointer;
}

.line-guide i {
  position: relative;
  -webkit-animation: floating 1.7s ease-in-out infinite;
          animation: floating 1.7s ease-in-out infinite;
}

/* content */
.content {
  margin-top: 400px;
  background-color: rgba(14, 12, 12, 0.9);
}

.content::before {
  content: '';
  display: block;
  width: 100%;
  height: 800px;
  position: absolute;
  -webkit-box-shadow: 0px -300px 200px 66.66667px rgba(14, 12, 12, 0.9);
          box-shadow: 0px -300px 200px 66.66667px rgba(14, 12, 12, 0.9);
}

/* footer */
.homepage-footer {
  width: 100%;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eee;
}

.homepage-footer .copyright {
  font-size: 12px;
  font-weight: 900;
  color: #333;
  text-align: center;
}
/*# sourceMappingURL=homepage.css.map */