@font-face {
    font-family: 'Circular Bold';
    src: url('../assets/fonts/Circular-Bold.woff2.ttf');
}

@font-face {
    font-family: 'Circular';
    src: url('../assets/fonts/Circular-Book.woff.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'PingFang SC';
    color: #ccc;
}

h1 {
    font-family: 'Circular Bold';
}

.body-wrapper {
    width: 100%;
    height: 100vh;

    border: #eee 8px solid;

    background-color: #000;

    overflow: scroll;
    /* IE10/Edge 去除滚动条 */
    -ms-overflow-style: none;
    /* firefox 64 隐藏滚动条 */
    scrollbar-color: transparent transparent;
    /* firefox 64 去除滚动条 */
    scrollbar-width: none;

    /* 视差滚动 */
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 10px;
    perspective: 10px;
}

/* Chrome 去除滚动条 */
.body-wrapper::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.background {
    width: 100%;
    height: 125vh;
    position: absolute;

    /* background-color: #163e34; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
        url(../assets/imgs/72235081_p0.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-transform: translateZ(-80px) scale(9);
    transform: translateZ(-80px) scale(9);

    z-index: -1;
}

.homepage-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    width: 100%;
    max-width: 1080px;
    margin: 0 auto;

    position: relative;
}

/* one-page */

.one-page-wrapper {
    height: 100vh;
    margin: 0 40px;

    display: flex;
}

.flex-vertically-center {
    align-items: center;
}

.flex-horizontal-center {
    justify-content: center;
}

.title-block {
    width: 100%;
    height: 260px;
    position: relative;
    /* display: flex;
    justify-content: space-between; */
}

/* title */

.title {
    width: 500px;
    height: 250px;
}

.title h1 {
    font-size: 96px;
    max-width: 600px;
    line-height: 100%;
}

.title h1 span {
    font-family: 'Circular Bold';
    position: absolute;
}

.title h1 span:nth-child(1) {
    right: 0;
    top: 0;
}

.title h1 span:nth-child(2) {
    right: 0;
    top: 96px;
    z-index: 2;
}

.title h2 {
    font-family: 'PingFang SC';
    font-size: 32px;

    position: absolute;
    right: 40px;
    bottom: 10px;

    transform: translateZ(1px) scale(0.9);
}

/* date */

.date {
    font-family: 'Circular Bold';
    font-size: 128px;

    width: 150px;
    height: 270px;

    line-height: 100%;
    
    position: relative;
}

.date .month {
    font-family: 'Circular Bold';
    position: absolute;
    top: 0;
    left: 0;
}


.date .day {
    font-family: 'Circular Bold';

    position: absolute;
    left: 85px;
    bottom: 20px;

    transform: translateZ(2px) scale(0.8);
}

/* line */

.line {
    position: absolute;

    width: 20px;
    height: 140px;
    background-color: #823;

    box-shadow: 0 0 10px -2px #000;
}

.line-date-1 {
    top: 60px;
    left: 230px;
    
    transform: rotate(60deg) translateZ(4px) scale(0.6);
    z-index: 1;
}

.line-title-1 {
    top: -15px;
    right: 300px;
    
    transform: rotate(60deg) translateZ(3px) scale(0.7);
}

.line-title-2 {
    top: 55px;
    right: 515px;
    
    transform: rotate(60deg) translateZ(4px) scale(0.6);
    z-index: -1;
}

.line-title-3 {
    bottom: -5px;
    right: 315px;
    
    transform: rotate(60deg) translateZ(5px) scale(0.5);
    z-index: 1;
}

/* content */

.content {
    margin-top: 150px;
    background-color: rgba(36, 30, 30, .98);
    box-shadow: 0px 0px 200px 200px rgba(36, 30, 30, .98);
}

/* about-me */

.about-me {
    width: 400px;
    height: 400px;
    padding: 24px;

    border: 12px #823 solid;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-me-header {
    display: flex;
    flex-direction: column;
}

.about-me-header h1 {
    /* text-align: end; */
    font-size: 48px;
}

.about-me .intro {
    font-size: 24px;
}

/* guide-line */

.line.guide-line {
    padding-top: 8px;
    text-align: center;
    font-family: 'Circular Bold';

    position: fixed;
    bottom: -100px;
    right: 66.7%;
    transform: translateX(50%);
}

/* footer */

.homepage-footer {
    width: 100%;
    height: 54px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #eee;
}

.homepage-footer .copyright {
    font-family: 'Circular Bold';
    font-size: 12px;
    font-weight: 900;
    color: #333;

    text-align: center;
}