.body-wrapper {
    width: 100%;
    height: 100vh;

    border: #eee 8px solid;

    background-color: #170f11;

    overflow: scroll;
    /* IE10/Edge 去除滚动条 */
    -ms-overflow-style: none;
    /* firefox 64 隐藏滚动条 */
    scrollbar-color: transparent transparent;
    /* firefox 64 去除滚动条 */
    scrollbar-width: none;

    /* 视差滚动 */
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 10px;
    perspective: 10px;

    /* TODO 给所有使用transform的子元素加上webkit兼容 */
}

/* Chrome 去除滚动条 */
.body-wrapper::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.margin-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    width: 100%;
    max-width: 1080px;
    margin: 0 auto;

    position: relative;
}

/* one-page */

.one-page-wrapper {
    height: 100vh;
    margin: 0 40px;

    display: flex;
}
