@import 'common/fonts';
@import 'common/globals';
@import 'common/vars';

@import 'common/page-frame';

@import 'homepage/banner';

.background {
    width: 100%;
    height: 120vh;
    position: absolute;

    background: {
        image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
            url($bg-img);
        position: center;
        size: cover;
    }

    @include perspective-level(-160, -99);
}

/* guide line */

.line-guide {
    @extend .line;
    width: 20px;
    padding-top: 8px;
    text-align: center;

    position: fixed;
    bottom: -100px;
    right: 50%;
    transform: translateX(50%);

    cursor: pointer;
}

/* content */

.content {
    $height: 200px;

    margin-top: $height * 2.0;
    background-color: $bg-mask-color;

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: $height * 4;
        position: absolute;
        box-shadow: 0px (-1.5 * $height) $height ($height / 3) $bg-mask-color;

    }

    // about-me
    .about-me {
        $main-size: 400px;
        $padding-width: 24px;
        $border-width: 12px;

        width: $main-size;
        height: $main-size;
        padding: $padding-width;
        border: $border-width #823 solid;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        position: relative;

        &-header {
            display: flex;
            flex-direction: column;

            h1 {
                font-size: 48px;
            }
        }

        %intro-basic {
            @extend .intro;
            opacity: 0;

            position: absolute;
            bottom: $padding-width;
            left: $padding-width;
        }

        %qr-code-basic {
            $qr-size: $main-size - ($border-width + $padding-width) * 2;
            width: $qr-size;
            height: $qr-size;
        }

        .intro {
            font-size: 24px;
            transition: opacity .5s ease;

            &-github,
            &-wechat,
            &-qq,
            &-mail {
                @extend %intro-basic;
            }

            &-wechat,
            &-qq {
                @extend %qr-code-basic;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .icon {
            $icon-size: 1.25em;

            &-social {
                position: absolute;
                bottom: -3.6em;
                left: 0;

                width: 100%;
                display: flex;
                justify-content: space-between;

                i {
                    font-size: $icon-size;
                    cursor: pointer;
                    transition: opacity .5s ease;
                }

                .info {
                    height: $icon-size;
                    flex: auto;
                    opacity: 0;
                    transition: opacity .5s .2s ease;
                }
            }

            &-svg {
                width: $icon-size;
                height: $icon-size;
                fill: currentColor;
                overflow: hidden;

                opacity: 0;
                position: absolute;
                left: 0;
                top: 0;
                pointer-events: none;

                transition: opacity .5s ease;
            }

            &-wrapper {
                display: inline-block;
                height: $icon-size;
                margin-right: $icon-size;
                position: relative;
            }
        }
    }
}


/* footer */

.homepage-footer {
    width: 100%;
    height: 54px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #eee;

    .copyright {
        font: {
            family: 'Circular Bold';
            size: 12px;
            weight: 900;
        }

        color: #333;
        text-align: center;
    }
}
