@import 'common/colors';
@import 'common/vars';
@import 'common/globals';

@import 'common/cursor';
@import 'common/scrollbar';

.body {
    &-window {
        width: 100vw;
        height: 100vh;
        position: fixed;
        // 滚动
        overflow: hidden;
    }

    &-background {
        width: 102vw;
        height: 102vh;
        position: fixed;
        top: -1%;
        left: -1%;

        background: {
            image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
                url($backgroundImage);
            position: center;
            size: cover;
        }

        z-index: -10000;
    }
}

// * hero
@import 'homepage/hero';

.content-wrapper {
    margin-top: $gapWidth;
    background-color: rgba($dark, .8);
    position: relative;

    // 阴影过渡
    &::before {
        $height: $gapWidth * 4;
        content: '';
        width: 100%;
        height: $height;

        position: absolute;
        left: 0;
        bottom: 100%;
        z-index: -1000;

        // 手动非线性渐变
        background: linear-gradient(rgba($dark, 0),
                rgba($dark, .125) 20%,
                rgba($dark, .35) 40%,
                rgba($dark, .55) 60%,
                rgba($dark, .64) 70%,
                rgba($dark, .71) 80%,
                rgba($dark, .76) 90%,
                rgba($dark, .77) 92%,
                rgba($dark, .78) 95%,
                rgba($dark, .79) 98%,
                rgba($dark, .8) 100%);
    }
}

// * about-me
@import 'homepage/about';

// * works
@import 'homepage/works';

// * contact
@import 'homepage/contact';


.one-page-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-bottom {
    height: 35vh;
    width: 100%;
}

/* footer */

.homepage-footer {
    $footerHeight: 72px;
    $footerFontSize: 14px;

    width: 100%;
    height: $footerHeight;
    background-color: #eee;
    box-shadow: inset 0 16px 32px -16px $darkGrey;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    font-size: $footerFontSize;
    color: $darkGrey;
}

@media screen and (max-aspect-ratio: 1/1) {
    // 宽高比在1：1以下的屏幕，缩减底部边距
    .page-bottom {
        height: 10vh;
    }
}
