.about {
    &-wrapper {
        display: flex;
        justify-content: center;
    }

    $aboutWidth: $heroWidth;
    $aboutHeight: 330vh;

    width: 100%;
    max-width: $aboutWidth;
    height: $aboutHeight;

    display: flex;

    position: relative;

    &-header {
        $aboutHeaderFontSize: 100px;

        height: calc(#{$aboutHeight} - 30vh);
        margin-right: 3em;
        display: inline-flex;
        flex-direction: column;

        span {
            font-size: $aboutHeaderFontSize;
            font-family: 'Tondu Beta', 'Circular Bold';
            line-height: .8;
            color: var(--textColor);

            // 将字变为描边文字
            -webkit-text-stroke: 1.5px var(--textColor);
            -webkit-text-fill-color: transparent;

            width: fit-content;
            flex: auto;
            overflow: hidden;
        }

        .full-text {
            flex-shrink: 0;
        }
    }

    &-text {
        height: calc(#{$aboutHeight * .4} + 100vh);
        font-size: 22px;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        &>* {
            opacity: 0;
        }
    }

    @media screen and (max-width: 900px) {
        &-header {
            display: none;
        }
    }
}
