// about-me
.about-me {
    &-wrapper {
        height: calc(100vmin - #{$maskTransitionWidth});
        min-height: $aboutMeSize;
        padding-bottom: $maskTransitionWidth;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    // 主体到页面边界的距离
    $frame-marign: $minimumMargin / 2;
    // 主体宽度
    $frame-width: calc(100vmin - #{$frame-marign} * 2);
    $frame-max-width: $aboutMeSize;

    // 内容边距
    $padding-width: 24px;
    // 主题边框宽度
    $border-width: 12px;

    // 主体外边界与内容之间的宽度
    $frame-padding: $border-width+$padding-width;
    // 内容宽度
    $content-width: calc(100vmin - (#{$frame-marign + $frame-padding}) * 2);
    $content-max-width: calc(#{$frame-max-width} - #{$frame-padding * 2});

    // 自适应页面，页面宽度较小时也能保持正方形边框
    width: $frame-width;
    height: $frame-width;

    max: {
        width: $frame-max-width;
        height: $frame-max-width;
    }

    // TODO 媒体查询，当宽度过小时，不再保持方形边框以满足内容的添加

    padding: $padding-width;
    border: $border-width $themeColor solid;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // 用于为子元素提供参考字体大小
    font-size: $aboutMeFontSize;

    position: relative;

    &-header {
        display: flex;
        flex-direction: column;
        text-shadow: $textShadow;

        h1,
        h2 {
            font-size: 2em;
        }
    }


    %intro {
        opacity: 0;
        transition: all .5s ease;

        position: absolute;
        bottom: $padding-width;
        left: $padding-width;

        width: $content-width;

        max: {
            width: $content-max-width;
            height: $content-max-width;
        }

        text-shadow: $textShadow;

        pointer-events: none;

        p {
            font-size: 1em;
            /* 宽度过小时，仍然支持换行 */
            overflow-wrap: break-word;
        }
    }

    %qrcode {
        // 二维码大小
        $qr-size: calc(#{$frame-max-width} - #{$frame-padding * 2});

        width: $content-width;
        height: $content-width;

        max: {
            width: $qr-size;
            height: $qr-size;
        }
    }

    .intro {
        &-container {
            &>* {
                @extend %intro;
            }

            .qrcode-wrapper {
                @extend %qrcode;

                img {
                    width: 100%;
                }
            }
        }

        &-myself {
            pointer-events: initial;
            opacity: 1;
        }
    }

    .switch-bar {
        position: absolute;
        bottom: -($border-width + $iconSize * (1 + 1.414));
        left: 0;

        width: 100%;
        display: flex;

        .social-icons {
            display: inline-block;
            height: $iconSize;

            font-size: 0;
            white-space: nowrap;
        }

        .icon {
            &-wrapper {
                display: inline-block;
                margin-right: $iconSize / 1.414;
                font-size: $iconSize;
                line-height: 1;
                position: relative;

                i {
                    display: inline;
                    font-size: $iconSize;
                    cursor: pointer;
                    transition: opacity .5s ease;
                }
            }

            &-svg {
                width: $iconSize;
                height: $iconSize;
                fill: currentColor;
                overflow: hidden;

                opacity: 0;
                position: absolute;
                left: 0;
                top: 0;
                pointer-events: none;

                transition: opacity .5s ease;
            }

            &-info {
                height: $iconSize;
                font-size: $iconSize * 0.75;
                color: $textColor * 0.75;
                flex: auto;
                opacity: 0;
                transition: opacity .5s .2s,
                    color .5s;
            }
        }
    }
}
