.about {
    &-wrapper {
        display: flex;
        justify-content: center;
    }

    width: 100%;
    max-width: $heroWidth;
    height: 2500px;

    display: flex;

    position: relative;

    &-header {
        $aboutHeaderFontSize: 100px;

        // position: absolute;
        // left: 0;
        // top: 0;

        display: inline-flex;
        flex-direction: column;
        height: $aboutHeaderFontSize * 28;

        span {
            font-size: $aboutHeaderFontSize;
            font-family: 'Tondu Beta', 'Circular Bold';
            line-height: .8;
            color: var(--textColor);

            // 将字变为描边文字
            -webkit-text-stroke: 1px var(--textColor);
            text-stroke: 1px var(--textColor);
            -webkit-text-fill-color: transparent;
            text-fill-color: transparent;

            width: fit-content;
            flex: 1;
            overflow: hidden;
        }
        
        .full-text {
            flex: none;
        }
    }

    &-text {
        width: 500px;
        font-size: 24px;

        margin-left: 3em;

        &>* {
            margin-bottom: 30vh;
        }
    }
}
