// 用于设置视差滚动时，不改变大小的情况下改变元素的z轴高度
@mixin perspective-level($level: 0, $z: false) {
    transform: translateZ(1px * $level) scale(1 - 1px / $perspective-dist * $level);

    @if $z {
        z-index: $z;
    }
}

.title-block {
    width: 100%;
    height: 260px;
    position: relative;
}

.title {
    width: 500px;
    height: 250px;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.6);

    h1 {
        font-size: 96px;
        max-width: 600px;
        line-height: 100%;

        span {
            font-family: 'Circular Bold';
            position: absolute;

            &:nth-child(1) {
                right: 0;
                top: 0;
            }

            &:nth-child(2) {
                right: 0;
                top: 96px;
                z-index: 2;
            }
        }
    }

    h2 {
        font: 32px 'PingFang SC';

        position: absolute;
        right: 80px;
        bottom: 30px;

        @include perspective-level(2);
    }

}

/* date */

.date {
    font: {
        family: 'Circular Bold';
        size: 128px;
    }

    line-height: 100%;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);

    width: 150px;
    height: 270px;
    position: relative;

    .month {
        font-family: 'Circular Bold';
        position: absolute;
        top: 0;
        left: 0;
    }

    .day {
        font-family: 'Circular Bold';

        position: absolute;
        left: 174px;
        bottom: 45px;
        @include perspective-level(4, 1);
    }
}

/* line */

.line {
    $width: 20px;
    $height: 140px;

    position: absolute;

    width: $width;
    height: $height;

    background-color: #823;
    box-shadow: 0 0 8px #000;

    // 透视投影再加上旋转
    @mixin perspective-after-rotate($level: 0, $z: false, $deg: 0) {
        transform: translateZ(1px * $level) rotate($deg * 1deg) scale(1 - 0.1 * $level);

        @if $z {
            z-index: $z;
        }
    }

    // date line

    &-date-1 {
        @extend .line;
        top: 55px;
        left: 146px;
        @include perspective-after-rotate(2, 2, 60);
    }

    // title line

    &-title-1 {
        @extend .line;
        top: -15px;
        right: 300px;
        @include perspective-after-rotate(3, null, 60);
    }

    &-title-2 {
        @extend .line;
        top: 55px;
        right: 515px;
        @include perspective-after-rotate(4, -1, 60);
    }

    &-title-3 {
        @extend .line;
        bottom: -5px;
        right: 315px;
        @include perspective-after-rotate(5, 1, 60);
    }

    &-bottom {
        @extend .line;
        width: $height * 1.2;
        height: $width * .8;
        bottom: 25%;
        left: 50%;
        transform: translateZ(6px) translateX(-50%) rotate(-30deg) scale(.4);
        z-index: 10;

        .text {
            position: absolute;
            bottom: 50%;
            transform: translateY(50%);

            width: 100%;

            text: {
                align: center;
                transform: uppercase;
                shadow: 0 0 8px rgba(0, 0, 0, 0.6);
            }

            font: 24px 'Circular Bold';
        }
    }
}
