.banner {
    position: relative;
    top: 0;

    &-wrapper {
        height: calc(100vh - #{$bodyBorderWidth * 2});
        min-height: 300px;
        display: flex;
        align-items: center;
    }

    .title-block {
        width: 100%;

        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .title {
        text-shadow: $textShadow;

        h1 {
            font: {
                size: $titleFontSize;
                family: $titleFont;
                // 取消firefox浏览器自作聪明的 bold
                weight: normal;
            }

            line-height: 1;
            text-align: right;
            max-width: 600px;

            span {
                position: relative;
                // 取消firefox浏览器自作聪明的 bold
                font-weight: normal;

                // 装饰线
                &:nth-child(1)::after {
                    content: '';
                    @extend %line-basic;
                    top: -.6em;
                    left: 1em;
                    transform: rotate(60deg);
                }

                // 装饰线
                &:nth-child(2)::after {
                    content: '';
                    @extend %line-basic;
                    bottom: -.4em;
                    right: 1.4em;
                    transform: rotate(60deg);
                }
            }
        }

        h2 {
            margin-top: .5em;
            text-align: right;

            font: {
                size: $titleFontSize / 3;
                family: $titleFont;
                // 取消firefox浏览器自作聪明的 bold
                weight: normal;
            }

            position: relative;

            &::after {
                content: '';
                @extend %line-basic;
                bottom: -3em;
                right: 6em;
                transform: rotate(60deg);
            }
        }
    }

    .date {
        margin-right: .5em;
        position: relative;

        font: {
            size: $titleFontSize * 4/3;
            family: $titleFont;
        }

        line-height: 100%;
        text-shadow: $textShadow;

        .date-line {
            @extend %line-basic;
            top: 64px;
            left: ($lineHeight - $lineWidth) / 2;
            transform: rotate(60deg);
        }
    }


    .bottom-line {
        @extend %line-basic;
        width: $lineHeight * 1.2;
        height: $lineWidth * .8;
        bottom: -10%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;

        .text {
            position: absolute;
            // 垂直居中
            bottom: 50%;
            transform: translateY(50%);

            width: 100%;

            text: {
                align: center;
                transform: uppercase;
                shadow: $textShadow;
            }

            font: 24px $titleFont;
        }
    }
}
