// Default variables
html {
  --base-font-size: 20px;
}

// Light default theme
body {
  --bg-color: #f6faff;
  --bg-content-color: #fff;
  --bg-code: #fffbf3;
  --title-color: #202327;
  --body-color: #444;
  --link-color: #00f;
	--light-color: #aaa;

  --border-color: rgba(#000, 0.1);
  --space: 3.5rem;
  --content-width: 860px;
  --header-height: 80px;
  --radius: 8px;
	--duration: 0.6s;

	// Override variables for Dark theme
	&[data-theme='dark'] {
		--bg-color: #000;
		--bg-content-color: #101216;
		--bg-code: rgba(#000, 0.3);
		--border-color: rgba(#fff, 0.1);
		--title-color: #f6faff;
		--body-color: #ced8de;
		--link-color: #00f;
		--light-color: #333;
	}
}

// Make things smaller for mobile
@media screen and (max-width: 650px) {
  html {
    --base-font-size: 17px;
  }
  body {
    --space: 1.5rem;
    --header-height: 60px;
  }
}
