main {
  --color-border-default: transparent;
  --color-segmented-control-button-selected-border: transparent;
  --color-btn-primary-border: transparent;
  --color-btn-primary-disabled-border: transparent;
  --color-btn-border: transparent;

  --color-canvas-default: var(--prose-bg-color);
  --color-canvas-subtle: var(--prose-bg-color);
  --color-canvas-inset: var(--global-bg-color);
  --color-canvas-overlay: var(--prose-bg-color);

  --color-fg-default: var(--text-color);
  --color-fg-muted: var(--text-secondary-color);

  --color-accent-fg: var(--accent-color);
  --color-border-muted: var(--border-color);
}

.gsc-header {
  @media screen and (max-width: 639px) {
    padding: 1rem;
  }
}

.gsc-reactions-popover {
  filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.05));
}
