---
import { getCollection } from 'astro:content';

import { BaseHead, PostCard } from '~/components';
import { SITE_DESCRIPTION, SITE_TITLE } from '~/consts';
import { AsideLayout } from '~/layouts';

const posts = (await getCollection('blog'))
  .filter((post) => import.meta.env.MODE === 'development' || post.data.published)
  .sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
  );
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
    />
  </head>
  <body>
    <AsideLayout>
      {
        posts.map((post) => (
          <PostCard post={post} />
        ))
      }
    </AsideLayout>
  </body>
</html>
