// * globals

// 背景图片
$backgroundImage: 'https://i.loli.net/2020/02/20/B793gFK156XqtvY.jpg';

// 页面左右最小边距
$miniMargin: 64px;

// * fonts

// 默认字体
$defaultFont: '-apple-system',
'BlinkMacSystemFont',
// 英文
'PingFang SC',
'Segoe UI',
Tahoma,
'Helvetica Neue',
// 中文
'Hiragino Sans GB',
'Microsoft YaHei',
// 保底
Helvetica,
Arial,
// 宋体
'\5b8b\4f53',
sans-serif,
// Emoji
'Apple Color Emoji',
'Segoe UI Emoji';


// header字体
$headerFont: 'Ubuntu',
'Microsoft YaHei',
'HelveticaNeue-Bold',
'PingFang SC',
Arial,
sans-serif;

// hero文本大小
$heroFontSize: 96px;

// works文本大小
$workFontSize: 36px;

// * size

// 每个部分之间的间隔宽度
$gapWidth: 20vh;

// 装饰粗线的尺寸
$lineWidth: 20px;
$lineHeight: 140px;

// hero最大宽度
$heroWidth: 900px;

// cursor尺寸
$outerBoxSize: 240px;
$normalOuterCursorSize: 30px;
$innerBoxSize: 40px;
$normalInnerCursorSize: 20px;

// scrollbar宽度
$scrollbarWidth: 6px;

// * shadow

// 文本阴影
$textShadow: 0 0 8px $shadowColor;

// works阴影
$workShadow: 0 0 24px 8px $shadowColor;

// * parallax

$workPerspective: 800px;
