// Default
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--body-color);
  background-color: var(--bg-color);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  transition: background-color calc(var(--duration) * 2);
}

a:not(.button) {
  transition: color var(--duration),
    background-color var(--duration),
    opacity var(--duration),
    text-shadow calc(var(--duration) * 2);

  &:hover {
    color: var(--link-color);
    text-shadow: 0 0 0.2em var(--link-shadow-color);
  }
}

.link-highlight a:not(.button) {
  text-decoration: underline;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

img {
  max-width: 100%;
}

.button {
  display: inline-block;
}

// 被选中的文字
::selection {
  // background: var(--title-color);
  background: var(--light-color);
  color: var(--bg-color);
}
