@mixin grid-3x3($columns: 1fr auto 1fr, $rows: 1fr auto 1fr) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  justify-content: stretch;
  align-content: stretch;
  /*
   * l: left, c: center, r: right
   * t: top, m: middle, b:bottom
   */
  grid-template-areas:
    'lt ct rt'
    'lm cm rm'
    'lb cb rb';

  &__lt {
    grid-area: lt;
    justify-self: start;
    align-self: start;
    text-align: start;
  }
  &__lm {
    grid-area: lm;
    justify-self: start;
    align-self: center;
    text-align: start;
  }
  &__lb {
    grid-area: lb;
    justify-self: start;
    align-self: end;
    text-align: start;
  }
  &__ct {
    grid-area: ct;
    justify-self: center;
    align-self: start;
    text-align: center;
  }
  &__cm {
    grid-area: cm;
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  &__cb {
    grid-area: cb;
    justify-self: center;
    align-self: end;
    text-align: center;
  }
  &__rt {
    grid-area: rt;
    justify-self: end;
    align-self: start;
    text-align: end;
  }
  &__rm {
    grid-area: rm;
    justify-self: end;
    align-self: center;
    text-align: end;
  }
  &__rb {
    grid-area: rb;
    justify-self: end;
    align-self: end;
    text-align: end;
  }
}
