@mixin grid__lt {
  grid-area: lt;
  justify-self: start;
  align-self: start;
  text-align: start;
}
@mixin grid__lm {
  grid-area: lm;
  justify-self: start;
  align-self: center;
  text-align: start;
}
@mixin grid__lb {
  grid-area: lb;
  justify-self: start;
  align-self: end;
  text-align: start;
}
@mixin grid__ct {
  grid-area: ct;
  justify-self: center;
  align-self: start;
  text-align: center;
}
@mixin grid__cm {
  grid-area: cm;
  justify-self: center;
  align-self: center;
  text-align: center;
}
@mixin grid__cb {
  grid-area: cb;
  justify-self: center;
  align-self: end;
  text-align: center;
}
@mixin grid__rt {
  grid-area: rt;
  justify-self: end;
  align-self: start;
  text-align: end;
}
@mixin grid__rm {
  grid-area: rm;
  justify-self: end;
  align-self: center;
  text-align: end;
}
@mixin grid__rb {
  grid-area: rb;
  justify-self: end;
  align-self: end;
  text-align: end;
}
