// Default

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  // @apply text-sm sm:text-base;
  @apply text-sm lg:text-[1.333vw] 2xl:text-[1vw];
}

body {
  font-family: 'Poppins', -apple-system, system-ui, BlinkMacSystemFont, 'PingFang SC', 'Microsoft YaHei', 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif;
  font-weight: 400;
  word-break: break-word;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  // font-size: 18px;

  @apply bg-jade-50 dark:bg-black;
  @apply text-jade-700 dark:text-jade-400;
  @apply transition-background-color;

  // @media screen and (min-width: $xl) {
  //   // trick: Offset the scrollbar width to make the layout symmetrical
  //   margin-left: calc(100vw - 100%);
  // }
}

img {
  max-width: 100%;
}

.button {
  display: inline-block;
}

::selection {
  @apply text-white dark:text-black;
  @apply bg-jade-400 dark:bg-jade-600;
}

// Text mask effect
del {
  text-decoration: none;

  @apply text-transparent bg-jade-400 dark:bg-jade-600;
  @apply transition-colors hover:text-jade-800 dark:hover:text-white;
}
