// Used to wrap content inside a nice box.
.content-box {
  background-color: var(--bg-content-color);
  margin: 0 auto;
  padding: var(--padding-width);
  border-radius: var(--radius);
  transition: transform var(--duration),
    background-color var(--duration),
    box-shadow var(--duration);
}
