@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    @apply text-base max-sm:text-sm;
  }

  body {
    font-family: 'Poppins', -apple-system, system-ui, BlinkMacSystemFont, 'PingFang SC', 'Microsoft YaHei', 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
      sans-serif;
    font-weight: 400;
    word-break: break-word;
    margin: 0;
    padding: 0;
    line-height: 1.5;

    color: var(--text-color);
    background-color: var(--global-bg-color);
    transition: background-color 0.3s ease-out;

    // @media screen and (min-width: $xl) {
    //   // trick: Offset the scrollbar width to make the layout symmetrical
    //   margin-left: calc(100vw - 100%);
    // }
  }

  img {
    max-width: 100%;
  }

  ::selection {
    color: var(--selection-text-color);
    background-color: var(--selection-bg-color);
  }

  // Text mask effect
  del {
    text-decoration: none;
    color: transparent;
    background-color: var(--selection-bg-color);
    border-radius: 2px;
    transition: color 0.3s ease-out;

    &:hover {
      color: inherit;
    }
  }
}

@layer components {
  .hover-highlight {
    transition-property: color, text-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;

    &:hover {
      color: var(--accent-color);
      text-shadow: 0 0 0.2em var(--accent-color);
    }
  }
}

@layer utilities {
  .button {
    display: inline-block;
  }
}
