.prose {
  @import './typography.scss';

  // 隐藏重复的文章标题
  h1:first-child {
    display: none;
  }

  a {
    transition: color 0.3s, opacity 0.3s, text-shadow 0.3s;

    text-decoration: underline;
    opacity: 0.8;

    &:hover {
      opacity: 1;
      color: var(--accent-color);
      text-shadow: 0 0 0.2em var(--accent-color);
    }
  }

  &>p:has(img) {
    @apply prose-no-padding;
  }

  img {

    &[alt*='size=small'],
    &[alt*='size=medium'],
    &[alt*='size=large'],
    &[alt*='size=auto'] {
      @apply mx-auto prose-padding;
    }

    &[alt*='size=small'] {
      width: 38.2%;
    }

    &[alt*='size=medium'] {
      width: 61.8%;
    }

    &[alt*='size=large'] {
      width: 100%;
    }

    &[alt*='size=full'] {}

    &[alt*='size=auto'] {
      max-width: 100%;
    }
  }
}
