.prose {

  // 隐藏重复的文章标题
  h1:first-child {
    display: none;
  }

  a {
    transition-property: color, opacity, text-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;

    text-decoration: underline;
    opacity: 0.8;

    &:hover {
      opacity: 1;
      color: var(--accent-color);
      text-shadow: 0 0 0.2em var(--accent-color);
    }
  }

  img {
    margin-left: calc(-1 * var(--prose-padding));
    margin-right: calc(-1 * var(--prose-padding));
    width: calc(100% + 2 * var(--prose-padding));
    max-width: unset;

    &[alt*='size=small'],
    &[alt*='size=medium'],
    &[alt*='size=large'],
    &[alt*='size=auto'] {
      margin-left: auto;
      margin-right: auto;
    }

    &[alt*='size=small'] {
      width: 38.2%;
    }

    &[alt*='size=medium'] {
      width: 61.8%;
    }

    &[alt*='size=large'] {
      width: 100%;
    }

    &[alt*='size=full'] {
      // default
    }

    &[alt*='size=auto'] {
      width: auto;
      max-width: 100%;
    }
  }
}
