.typography {

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--title-color);
    margin: 2.75rem 0 1rem;
    font-weight: 600;
    line-height: 1.15;
  }

  h1 {
    font-size: 1.802em;
    margin-top: 0;
  }

  h2 {
    font-size: 1.602em;
  }

  h3 {
    font-size: 1.424em;
  }

  h4 {
    font-size: 1.266em;
  }

  h5 {
    font-size: 1.125em;
  }

  small {
    font-size: 0.889em;
  }

  strong {
    font-weight: 600;
  }

  p,
  details {
    line-height: 1.75;
    margin-bottom: 1em;
  }

  summary {
    cursor: pointer;
    opacity: 0.8;

    @apply sparklable-text;
  }

  blockquote {
    border-left: 4px solid var(--blockquote-border-color);
    padding-left: calc(var(--prose-padding) / 2);
    color: var(--text-color);
  }

  hr {
    width: 10%;
    height: 2px;
    margin: 64px auto;
    background: var(--hr-color);
    opacity: 0.5;
    border: none;
    border-radius: 1px;
  }

  em {
    font-style: italic;
  }

  ul,
  ol {
    margin-left: 1.25em;
    margin-bottom: 1.25em;

    li {
      margin-bottom: 0.6em;
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  // Tables
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 2em;
    font-size: 0.889em;

    thead {
      border-bottom: 1px solid var(--table-header-border-color);
    }

    tbody tr+tr {
      border-top: 1px solid var(--table-body-border-color);
    }

    th {
      font-weight: 600;
    }

    th,
    td {
      padding: 0.5em 0.75em;
    }
  }

  // Code block
  pre {
    font-size: 0.875em;
    line-height: 1.5;
    padding: 20px;
    border-radius: 0.375rem;
    margin-bottom: 16px;
    transition: background-color 0.3s ease-out;
    @apply shadow-lg;
  }

  // Inline code
  :not(pre)>code {
    font-size: 0.875em;
    color: var(--inline-code-color);
    padding: 0.2em 0.3em;
    background-color: var(--inline-code-bg-color);
    border-radius: 0.3em;
  }
}
