// mini-tablet/mobile
$md: 768px;
// tablet
$lg: 1024px;
// laptop
$xl: 1280px;
// desktop
$xxl: 1536px;
// mobile
$sm: 640px;

// TODO: 全部尽量改为 tailwindcss class
:root {
  --main-width: 900px;
  --aside-width: 210px;
  --layout-width: calc(var(--main-width) + var(--aside-width) + var(--space) * 3);
  --thin-main-width: 400px;
  --top-margin-width: 80px;
  --padding-width: 3.5rem;
  --space: 1rem;

  --article-font-size: 0.9em;
  --article-line-height: 1.75;
  --radius: 0.75em;
  --duration: 0.3s;

  --cover-text-color: #fff;
  --cover-text-shadow-color: #101216;

  // Light default theme
  --c1: #24292e; // jade-800
  --c2: #34393e; // jade-700
  --bgc1: #fff; // white
  --bgc2: #f6f9fd; // jade-50

  --bg-code: #282c34;
  --border-color: #{rgba(#000, 0.1)};
  --accent-color: #f22;
  --light-color: #a4a9ae; // jade-400

  // Override variables for Dark theme
  &[data-scheme='dark'] {
    --c1: #c9d1d9; // jade-300
    --c2: #a9b1b9; // jade-400
    --bgc1: #000; // black
    --bgc2: #101216; // jade-950

    --bg-code: #{rgba(#000, 0.3)};
    --border-color: #{rgba(#fff, 0.1)};
    --accent-color: #00f;
    --light-color: #596169; // jade-600
  }
}

// tablet
@media screen and (max-width: ($lg - 1)) {
  :root {
    --aside-width: 170px;
  }
}

// mobile
@media screen and (max-width: ($sm - 1)) {
  :root {
    --padding-width: 1.5rem;
    --top-margin-width: 60px;
  }
}
