// TODO: 确认是否还需要断点变量
// mini-tablet/mobile
$md: 768px;
// tablet
$lg: 1024px;
// laptop
$xl: 1280px;
// desktop
$xxl: 1536px;
// mobile
$sm: 640px;

$jade-50: #f6f9fd;
$jade-100: #e8edf3;
$jade-200: #d9e0e8;
$jade-300: #c9d1d9;
$jade-400: #b8c0c8;
$jade-500: #808890;
$jade-600: #596169;
$jade-700: #34393e;
$jade-800: #24292e;
$jade-900: #1a1e22;
$jade-950: #101216;

$accent-color-light: #f22;
$accent-color-dark: #00f;

:root {
  // TODO: rename space-width etc
  --padding-width: 3.5rem;

  --jade-50: #{$jade-50};
  --jade-100: #{$jade-100};
  --jade-200: #{$jade-200};
  --jade-300: #{$jade-300};
  --jade-400: #{$jade-400};
  --jade-500: #{$jade-500};
  --jade-600: #{$jade-600};
  --jade-700: #{$jade-700};
  --jade-800: #{$jade-800};
  --jade-900: #{$jade-900};
  --jade-950: #{$jade-950};

  // Light theme
  // 全局背景颜色
  --global-bg-color: #{$jade-50};
  // 文章背景颜色
  --prose-bg-color: #fff;
  // 代码块背景颜色
  --inline-code-bg-color: #{$jade-50};
  // 标签背景颜色
  --tag-bg-color: #fff;

  // 标题颜色
  --title-color: #{$jade-800};
  // 正文颜色
  --text-color: #{$jade-700};
  // 正文次要颜色
  --text-secondary-color: #{$jade-600};
  // 内联代码颜色
  --inline-code-color: #{$jade-800};

  // 选中文字颜色
  --selection-text-color: #fff;
  // 选中背景颜色
  --selection-bg-color: #{$jade-400};

  // 边框颜色
  --border-color: #{$jade-100};
  // 强调色
  --accent-color: #{$accent-color-light};
  // 分隔线颜色
  --hr-color: #{$jade-400};

  // Dark theme
  &[data-scheme='dark'] {
    // 全局背景颜色
    --global-bg-color: #000;
    // 文章背景颜色
    --prose-bg-color: #{$jade-950};
    // 代码块背景颜色
    --inline-code-bg-color: #000;
    // 标签背景颜色
    --tag-bg-color: #000;

    // 标题颜色
    --title-color: #{$jade-300};
    // 正文颜色
    --text-color: #{$jade-400};
    // 正文次要颜色
    --text-secondary-color: #{$jade-500};
    // 内联代码颜色
    --inline-code-color: #{$jade-800};

    // 选中文字颜色
    --selection-text-color: #000;
    // 选中背景颜色
    --selection-bg-color: #{$jade-600};

    // 边框颜色
    --border-color: #{$jade-900};
    // 强调色
    --accent-color: #{$accent-color-dark};
    // 分隔线颜色
    --hr-color: #{$jade-600};
  }
}

// TODO: aside 响应式宽度适配
// // tablet
// @media screen and (max-width: ($lg - 1)) {
//   :root {
//     --aside-width: 170px;
//   }
// }

// TODO: 移动端边距适配
// mobile
@media screen and (max-width: ($sm - 1)) {
  :root {
    --padding-width: 1.5rem;
    // --top-margin-width: 60px;
  }
}
