.hero {
    &-wrapper {
        height: 100vh;
        min-height: $heroFontSize * 4;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    width: 100%;
    max-width: $heroWidth;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    text-shadow: $textShadow;
    transition: text-shadow .5s;

    // 禁止选中文字
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    --lineColor: var(--themeColor);

    // 装饰线的基础样式规则
    .decoration-line {
        position: absolute;
        width: $lineWidth;
        height: $lineHeight;
        transform: rotate(60deg);

        background-color: var(--lineColor);
        box-shadow: 0 0 12px var(--lineColor);
        transition: background-color 1s ease-in, box-shadow 1s ease-in;
    }

    &:hover {
        text-shadow: 0 0 12px $haloColor;

        .decoration-line {
            --lineColor: var(--embelliColor);
            // 使得鼠标移入时动画很慢才完成，移出时一下就复原
            transition: background-color 5s cubic-bezier(0.895, 0.03, 0.685, 0.22), box-shadow 5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
        }
    }

    .title {

        h2 {
            font: {
                size: $heroFontSize;
                family: $headerFont;
            }

            line-height: 1;
            text-align: right;
            max-width: 6.4em;

            span {
                position: relative;
                font-weight: 900;

                // 装饰线
                &:nth-child(1) .decoration-line {
                    top: -.6em;
                    left: 1em;
                }

                &:nth-child(2) .decoration-line {
                    bottom: -.4em;
                    right: 1.4em;
                }
            }
        }

        h1 {
            margin-top: .5em;
            text-align: right;

            font: {
                size: calc($heroFontSize / 3);
            }

            position: relative;

            .decoration-line {
                bottom: -3em;
                right: 6em;
            }
        }
    }

    .date {
        margin-right: .5em;
        position: relative;

        font: {
            size: calc($heroFontSize * 4/3);
            family: $headerFont;
            weight: 900;
        }

        line-height: 100%;

        .decoration-line {
            top: calc($heroFontSize * 1.1 - $lineHeight / 4);
            left: calc($heroFontSize * .8 - $lineWidth / 2);
            transform: rotate(60deg);
        }
    }

    @media screen and (max-width: 720px) {
        .date {
            display: none;
        }
    }
}
