.loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 16000;
    overflow: hidden;

    &>* {
        height: 100%;
        width: 100%;
    }

    .loading,
    .loaded {
        display: flex;
        justify-content: center;
    }

    .loading {
        align-items: center;

        &-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-text {
            color: #6b768a;
            margin-top: .5em;
            font-size: 1em;
        }
    }

    .rainbow {
        width: 100px;
        height: 60px;
        position: relative;

        &-line {

            // 遮罩，使圆圈砍半
            &-wrap {
                position: absolute;
                left: 0;
                top: 0;

                width: 100px;
                height: 52px;

                overflow: hidden;

                // 改变旋转中心位置，使其绕着底边中心点旋转
                transform-origin: 50% 100%;
                // 三次贝塞尔曲线，参数为两个控制点的坐标（x1,y1,x2,y2)
                animation: spin 2s cubic-bezier(.2, .6, .4, 1.3) infinite;
                // animation: spin 2s ease infinite;

                @keyframes spin {

                    0%,
                    15% {
                        transform: rotate(0);
                    }

                    100% {
                        transform: rotate(720deg);
                    }
                }

                @mixin lineStyle($order) {
                    &:nth-child(#{$order}) {
                        animation-delay: -50ms * $order;

                        .rainbow-line {
                            border-color: hsl(60 * ($order - 1), 80%, 60%);
                            height: (104px - $order * 14px);
                            width: (104px - $order * 14px);
                            top: (7px * $order);
                        }
                    }
                }

                @for $i from 1 through 5 {
                    @include lineStyle($i);
                }
            }

            // transparent值会被覆盖
            border: 4px solid transparent;
            border-radius: 100%;

            // 水平居中
            margin: 0 auto;
            position: absolute;
            left: 0;
            right: 0;
        }
    }

    .overlay {
        // 底端对齐页面顶端
        position: absolute;
        bottom: 100%;

        // .loading
        &:nth-child(1) {
            background-color: #222222;
            transform: translate3d(0, 100vh, 0);
        }

        @mixin overlayStyle($order) {
            &:nth-child(#{$order}) {
                background-color: hsl(60 * (6 - $order), 80%, 60%);
                transform: translate3d(0, 100vh * $order, 0);
            }
        }

        @for $order from 2 through 6 {
            @include overlayStyle($order);
        }
    }

    .loaded {
        align-items: flex-end;

        &>* {
            // color: #e67375;
            color: hsl(0, 50%, 70%);
        }

        &-emoji {
            font-size: 2em;
            margin-bottom: 1.2em;
        }
    }
}
