.works {
    // works尺寸
    $worksHeight: 80vh;
    $worksVertPadding: 10vh;
    $worksHorizPadding: 20vw;

    // work尺寸
    $workWidth: 35vh;
    $workMaxWidth: 400px;
    $workHeight: calc($workWidth * 4 / 3);
    $workMaxHeight: calc($workMaxWidth * 4 / 3);

    &-wrapper {
        height: 100vh;
        min-height: $workHeight;
        margin-top: $gapWidth;

        display: flex;
        align-items: center;

        // 禁止用户选择文本，避免拖拽works时误选文字
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        position: relative;

        &:hover .works-header::after {
            height: 100%;
            transition: height .5s ease-in .5s;
        }
    }

    height: $worksHeight;
    padding: $worksVertPadding $worksHorizPadding;
    display: flex;

    &-header {
        position: absolute;
        left: 10vw;
        top: 25vh;
        pointer-events: none;

        line-height: 1;
        padding-left: 2%;

        font-size: $workFontSize;
        color: var(--lightTextColor);
        text-shadow: $textShadow;

        h2,
        h1 {
            font-family: $headerFont;
        }

        h2 {
            font-size: 1em;
            font-weight: 700;
        }

        h1 {
            font-size: 0.7em;
            font-weight: 300;
            margin-top: 0.5em;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: -6px;
            width: 6px;
        }

        &::before {
            height: 100%;
            background-color: var(--themeColor);
        }

        &::after {
            height: 0;
            background-color: var(--embelliColor);
            transition: height .5s ease-out;
        }
    }

    &-background {
        width: 100%;
        height: $worksHeight;
        position: absolute;
        top: $worksVertPadding;
        left: 0;
        z-index: -100;
        background-color: rgba(255, 255, 255, .2);
        box-shadow: 0 0 64px 4px rgba(255, 255, 255, .2);
    }

    .work {
        width: $workWidth;
        height: $workHeight;

        max: {
            width: $workMaxWidth;
            height: $workMaxHeight;
        }

        margin-left: 16vw;

        // 定义视距
        perspective: $workPerspective;

        position: relative;

        &:nth-of-type(odd) {
            align-self: flex-end;
        }

        &:nth-of-type(even) {
            align-self: flex-start;
        }

        &-panel {
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            perspective: $workPerspective;
        }

        %work-text {
            position: absolute;
            left: -10%;
            top: 50%;
            color: var(--lightTextColor);
        }

        &-text {
            width: 100%;
            height: 100%;
            white-space: nowrap;
            font-size: $workFontSize;

            position: absolute;
            left: 0;
            top: 0;
            z-index: 99;

            transform-style: preserve-3d;
            perspective: $workPerspective;

            pointer-events: none;

            .work-title {
                @extend %work-text;

                h1,
                h2 {
                    font-size: 1em;
                    font-family: $headerFont;
                    font-weight: 700;
                    text-shadow: $textShadow;
                }
            }

            .see-more {
                @extend %work-text;
                display: inline-block;
                font-size: 0.4em;
                margin-top: 7.5em;
                border-bottom: 1px solid var(--lightTextColor);
                opacity: 0;

                &::before {
                    content: 'See more';
                }
            }
        }

        &-card {
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            perspective: $workPerspective;
            position: absolute;
        }

        &.case {
            &-note .work-card {
                &>* {
                    pointer-events: none;
                }

                .cover {
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    background-color: $vueColor2;
                    border-radius: 1% 8% 8% 1%;
                    box-shadow: $workShadow;
                }

                .bangage {
                    height: 100%;
                    width: 9%;
                    position: absolute;
                    top: 0;
                    right: 27%;
                    z-index: 1;
                    background-color: $vueColor;
                    box-shadow: 0 0 6px -2px $shadowColor;
                }

                .bookmark {
                    width: 0;
                    height: 10%;
                    border: 12px solid #823;
                    border-bottom: 12px solid transparent;
                    position: absolute;
                    z-index: -1;
                    top: 100%;
                    left: 8%;
                }
            }

            &-demo-collection .work-card {
                @import "flying-man";

                .background {
                    width: 100%;
                    height: 100%;
                    background-color: $yellow;
                    box-shadow: $workShadow;
                }
            }

            &-more .work-card {
                background-color: $purple;
                box-shadow: $workShadow;
            }
        }
    }


    // 手机和平板
    @media screen and (max-device-width: 1200px) and (min-device-width: 768px),
    screen and (max-device-width: 767px),
    screen and (max-width: 540px) {
        &-wrapper {
            height: auto;
            margin-top: $gapWidth;
        }

        height: auto;
        width: 100vw;
        padding: 30vh 0 0 0;
        flex-direction: column;
        align-items: center;

        &-header {
            top: 10vh;
        }

        .work {
            margin-left: 0;
            margin-bottom: 20vh;

            align-self: initial !important;
        }

        &-background {
            height: 100%;
            top: 0;
        }
    }

    // 平板横屏
    // will remove: 大平板屏幕宽度与小电脑屏幕宽度边界模糊，故不再进行适配（除非使用js进行样式控制）
    // @media screen and (max-device-width: 1200px) and (min-device-width: 768px) and (orientation: landscape) {
    //     justify-content: space-between;
    //     flex-direction: row;
    //     flex-wrap: wrap;

    //     .work {
    //         &:nth-of-type(odd) {
    //             margin-left: 20vh;
    //         }

    //         &:nth-of-type(even) {
    //             margin-left: 10vh;
    //             margin-right: 20vh;
    //         }

    //         &:last-child:nth-of-type(odd) {
    //             margin-right: auto;
    //         }
    //     }
    // }
}
