---
import { BaseHead } from '~/components';
import { SITE_DESCRIPTION, SITE_TITLE } from '~/consts';
import { AsideLayout } from '~/layouts';
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <AsideLayout />
  </body>
</html>
