---
import { getEntry, render } from 'astro:content';

import { BaseHead } from '~/components';
import { SITE_TITLE } from '~/consts';
import { AsideLayout } from '~/layouts';

const post = await getEntry('pages', 'about');
if (!post) {
  throw new Error('Could not find about post');
}
const { Content } = await render(post);
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <BaseHead
      title={`关于 - ${SITE_TITLE}`}
      description="关于本站点以及站长的介绍"
    />
  </head>
  <body>
    <AsideLayout mainClass="max-md:px-0">
      {post && (
        <main class="article typography prose-card max-sm:rounded-none">
          <article class="max-sm:mt-8">
            <Content />
          </article>
        </main>
      )}
    </AsideLayout>
  </body>
</html>

<style
  lang="scss"
  is:global
>
.article {
  h2:first-child {
    margin-top: 0;
  }

  // 荧光划线效果
  a {
    z-index: 1;
    position: relative;

    $overflow-width: 1px;
    $max-width: calc(100% + 2 * $overflow-width);

    // TODO: 确认在移动端以及其他浏览器中是否正常显示
    &:before {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      left: -$overflow-width;
      bottom: 0.1em;
      width: 1.5em;
      max-width: $max-width;
      height: 0.5em;
      border-radius: 1px;
      background-color: var(--accent-color);
      transition: background-color 0.3s ease-out, width 0.3s;
    }

    &:hover:before {
      width: $max-width;
    }
  }
}
</style>
