---
import { getEntry, render } from 'astro:content';
import { BaseHead } from '~/components';
import { SITE_TITLE } from '~/consts';
import { AsideLayout } from '~/layouts';

const post = await getEntry('pages', 'about');
if (!post) {
  throw new Error('Could not find about post');
}
const { Content } = await render(post);
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <BaseHead title={`关于 - ${SITE_TITLE}`} description="关于本站点以及站长的介绍" />
  </head>
  <body>
    <AsideLayout mainClass="max-md:px-0">
      {post && (
        <main class="article typography prose-card max-sm:rounded-none">
          <article class="max-sm:mt-8">
            <Content />
          </article>
        </main>
      )}
    </AsideLayout>
  </body>
</html>

<style lang="scss" is:global>
.article {
  h2:first-child {
    margin-top: 0;
  }

  a {
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 38.2%;
      height: 2px;
      border-radius: 1px;
      background-color: var(--accent-color);
      transition: background-color 0.3s ease-out, width 0.3s;
    }

    &:hover:before {
      width: 100%;
    }
  }
}
</style>
