---
import { BaseHead, FlowFieldBackground } from '~/components';
import { SITE_DESCRIPTION, SITE_TITLE } from '~/consts';
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
    />
  </head>
  <body>
    <FlowFieldBackground />

    <main class="main">
      <!-- TODO: 首页内容 -->
    </main>

    <style lang="scss">
      .main {
        position: relative;
        z-index: 1;
        height: 100vh;
        color: white;
        padding: 0 1rem;
      }
    </style>
  </body>
</html>
