@import '~/assets/styles/_grid-3x3';

#app {
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

.frame {
  // more props are in 3x3-grid.scss
  @include grid-3x3;

  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;

  width: 100%;
  max-width: none;
  height: 100vh;
  padding: 3rem;

  justify-content: space-between;
  align-content: space-between;

  text-align: left;

  .logo {
    @extend .frame__cm;
    z-index: 10;

    font-size: 16vw;
    font-weight: bold;
  }

  .impression-pic {
    @extend .frame__cm;
    display: block;
    width: 80%;
    z-index: -10;
  }

  &__website {
    @extend .frame__lt;
  }

  &__nav {
    @extend .frame__lm;
    display: flex;
    flex-direction: column;
    line-height: 1.75;

    .link::before {
      content: '- ';
    }
  }

  &__intro {
    @extend .frame__lb;
    max-width: 12em;
  }

  &__social {
    @extend .frame__rt;
    font-size: 0.8em;
    // transform: translateX(50%) rotate(90deg);
    // transform-origin: center top;

    .link:not(:last-child) {
      margin-right: 1.5em;
    }
  }

  &__copyright {
    @extend .frame__rb;
    text-align: end;
    font-size: 0.7em;
    line-height: 1.75;
  }

  @media screen {
    @media (max-width: 1279px) {
      &__nav {
        flex-direction: row;
        grid-area: rt;
        justify-content: end;
        justify-self: end;

        .link {
          &::before {
            content: '';
          }

          &:not(:last-child) {
            margin-right: 1.5em;
          }
        }
      }
      &__social {
        display: none;
      }
    }

    @media (max-width: 639px) {
      &__intro {
        max-width: 9em;
      }
    }
  }
}
