.scrollbar {
    position: fixed;
    right: 0;
    top: 0;
    width: $scrollbarWidth;
    height: 100vh;
    background-color: var(--scrollbarColor);
    z-index: 10000;

    // hover变色动画
    --barColor: var(--themeColor);

    &:hover {
        --barColor: var(--embelliColor);
    }

    .bar {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        // 高度由js计算
        height: 0;
        background-color: var(--barColor);
        box-shadow: 0 4px 8px var(--barColor);

        transition: background-color .5s,
            box-shadow .5s;

        // 在底端加一个三角形
        &::after {
            content: '';
            position: absolute;
            top: 100%;
            right: 0;

            // 三角形trick
            border: {
                top: calc($scrollbarWidth / 2) solid var(--barColor);
                right: calc($scrollbarWidth / 2) solid transparent;
                bottom: calc($scrollbarWidth / 2) solid transparent;
                left: calc($scrollbarWidth / 2) solid var(--barColor);
            }

            transition: border .5s,
            box-shadow .5s;
        }
    }
}
