---
import { cn } from '~/utils';

const { align = 'left' } = Astro.props;

const alignItems = (() => {
  switch (align) {
    case 'center':
      return 'items-center';
    case 'right':
      return 'items-end';
    case 'left':
    default:
      return 'items-start';
  }
})();

const currentYear = new Date().getFullYear();

const beian = {
  link: 'https://beian.miit.gov.cn/',
  text: '粤ICP备20009331号',
};
---

<footer class={cn(`flex flex-col my-14`, alignItems, Astro.props.class)}>
  <span class="text-xs leading-5">
    Ceynri © 2020-{currentYear}
  </span>
  {beian && (
    <a href={beian.link} class="text-xs leading-5">
      {beian.text}
    </a>
  )}
</footer>
