---
import { FILING } from '~/consts';
import { cn } from '~/utils';

const currentYear = new Date().getFullYear();
---

<footer class={cn('my-[var(--prose-padding)]', Astro.props.class)}>
  <div class="text-xs leading-[1.75]">
    Ceynri © 2020-{currentYear}
  </div>
  {FILING && (
    <a href={FILING.link} class="block text-xs leading-[1.75]">
      {FILING.text}
    </a>
  )}
</footer>
