---
import { Menu } from 'lucide-astro';

import { NAV_ITEMS } from '~/consts';
import { cn } from '~/utils';
---

<button
  class={cn('menu-btn menu-button size-full flex relative text-[var(--navbar-text-color)] opacity-50 hover:opacity-100 transition-[transform,opacity]', Astro.props.class)}
  aria-label="显示导航菜单"
  type="button"
>
  <Menu class="size-full" />
</button>

<!-- 背景 -->
<div class="menu-mask fixed inset-0 z-40 bg-black/10 backdrop-blur-sm"></div>
<!-- 下拉菜单卡片 -->
<div class="menu-card fixed top-4 right-4 z-50 rounded-2xl py-4 bg-[var(--navbar-bg-color)] shadow-lg">
  <ul>
    {NAV_ITEMS.map((item) => (
      <li class="py-3 px-8">
        <a
          href={item.href}
          class="flex items-center gap-4 py-2 px-2 text-[var(--text-color)]"
        >
          <item.icon class="w-5 h-5" />
          {item.name}
        </a>
      </li>
    ))}
  </ul>
</div>

<style lang="scss">
.menu-card {
  pointer-events: none;
  opacity: 0;
  transform: translateY(-30%);
  transition: opacity 0.3s ease-out, transform 0.3s ease;

  &.active {
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0);
  }
}

.menu-mask {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-out;

  &.active {
    pointer-events: auto;
    opacity: 1;
  }
}
</style>

<script>
const menuBtn = document.querySelector('.menu-btn');
const menuCard = document.querySelector('.menu-card');
const menuMask = document.querySelector('.menu-mask');

function setMenuOpen(open: boolean) {
  if (!menuCard || !menuMask) {
    return;
  }
  if (open) {
    menuCard.classList.add('active');
    menuMask.classList.add('active');
    document.body.style.overflow = 'hidden';
  }
  else {
    menuCard.classList.remove('active');
    menuMask.classList.remove('active');
    document.body.style.overflow = '';
  }
}

menuBtn?.addEventListener('click', (e) => {
  e.stopPropagation();
  if (!menuCard || !menuMask) {
    return;
  }
  const isOpen = !menuCard.classList.contains('active');
  setMenuOpen(isOpen);
});

menuMask?.addEventListener('click', () => setMenuOpen(false));

menuCard?.addEventListener('click', (e) => {
  if (e.target instanceof HTMLAnchorElement) {
    setMenuOpen(false);
  }
});
</script>
