---
interface Props {
  tags: Array<{
    title: string;
    count?: number;
  } | string>;
  class?: string;
  style?: 'default' | 'rounded';
}

const { tags, class: className } = Astro.props;

const formattedTags = (
  typeof tags[0] !== 'string'
  ? tags
  : tags.map((tag) => ({ title: tag }))
) as Array<{
  title: string;
  count?: number;
}>;
---

<!-- TODO: 重构 -->
<div class={`flex flex-wrap ${className}`}>
  {formattedTags.map((tag) => (
    <a href={`/blog/tags/${tag.title}`} class="post-tags-link">
      <span>#</span> {tag.title}
      {tag.count && <span>{tag.count}</span>}
    </a>
  ))}
</div>

<style lang="scss">
.post-tags-link {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  margin-right: 0.7em;
  font-size: 0.8em;
  color: currentColor;
  text-decoration: none;
  background-color: var(--tag-bg-color);
  padding: 0.5em 0.7em;
}
</style>
