---
import { cn } from '~/utils';

interface Props {
  tags: Array<{
    title: string;
    count?: number;
  } | string>;
  class?: string;
  style?: 'default' | 'rounded';
}

const { tags } = Astro.props;

const formattedTags = (
  typeof tags[0] !== 'string'
  ? tags
  : tags.map((tag) => ({ title: tag }))
) as Array<{
  title: string;
  count?: number;
}>;
---

<div class={cn('flex flex-wrap', Astro.props.class)}>
  {formattedTags.map((tag) => (
    <a
      href={`/blog/tags/${tag.title}`}
      class="my-1 mr-2 text-sm rounded-md bg-[var(--tag-bg-color)] py-1 px-2"
    >
      <span class="opacity-50 sparklable-text">
        <span>#</span> {tag.title}
        {tag.count && <span>{tag.count}</span>}
      </span>
    </a>
  ))}
</div>
