---
import { Image } from 'astro:assets';

import { Menu } from 'lucide-astro';

import avatar from '~/assets/images/avatar.jpg';
import { NAV_ITEMS } from '~/consts';
import { cn } from '~/utils';

import ThemeToggleButton from './theme-toggle-button.astro';
---

<header class={cn('w-full mb-8 px-4', Astro.props.class)}>
  <div class="mx-auto flex items-center justify-between h-20">
    <!-- 左侧头像 -->
    <a href="/blog/" class="flex items-center">
      <Image src={avatar} alt="avatar" width={40} height={40} class="rounded-full" />
    </a>
    <!-- 右侧按钮 -->
    <div class="flex items-center gap-2">
      <ThemeToggleButton class="size-10 p-2" />
      <button
        id="menu-btn"
        class="size-10 p-2"
        aria-label="菜单"
        type="button"
      >
        <Menu class="size-full" />
      </button>
    </div>
  </div>
</header>
<!-- 高斯模糊背景 -->
<div id="menu-mask" class="fixed inset-0 z-40 bg-black/10 backdrop-blur-sm"></div>
<!-- 下拉菜单卡片 -->
<div id="menu-card" class="fixed top-4 right-4 z-50 rounded-2xl py-4 bg-[var(--navbar-bg-color)] shadow-lg">
  <ul>
    {NAV_ITEMS.map((item) => (
      <li>
        <a
          href={item.href}
          class="flex items-center gap-4 py-4 px-8 text-[var(--text-color)]"
        >
          <item.icon class="w-5 h-5" />
          {item.name}
        </a>
      </li>
    ))}
  </ul>
</div>

<style lang="scss">
#menu-card {
  pointer-events: none;
  opacity: 0;
  transform: translateY(-30%);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;

  &.active {
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0);
  }
}

#menu-mask {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-out;

  &.active {
    pointer-events: auto;
    opacity: 1;
  }
}
</style>

<script>
window.addEventListener('DOMContentLoaded', () => {
  const menuBtn = document.getElementById('menu-btn');
  const menuCard = document.getElementById('menu-card');
  const menuMask = document.getElementById('menu-mask');

  function setMenuOpen(open: boolean) {
    if (!menuCard || !menuMask) {
      return;
    }
    if (open) {
      menuCard.classList.add('active');
      menuMask.classList.add('active');
      document.body.style.overflow = 'hidden';
    }
    else {
      menuCard.classList.remove('active');
      menuMask.classList.remove('active');
      document.body.style.overflow = '';
    }
  }

  menuBtn?.addEventListener('click', (e) => {
    e.stopPropagation();
    if (!menuCard || !menuMask) {
      return;
    }
    const isOpen = !menuCard.classList.contains('active');
    setMenuOpen(isOpen);
  });

  menuMask?.addEventListener('click', () => setMenuOpen(false));

  menuCard?.addEventListener('click', (e) => {
    if (e.target instanceof HTMLAnchorElement) {
      setMenuOpen(false);
    }
  });
});
</script>
