.about {
    $aboutWidth: $heroWidth;
    $aboutHeight: 300vh;
    $marginHeight: 30vh;

    &-wrapper {
        display: flex;
        justify-content: center;
        height: $aboutHeight + $marginHeight * 2;
    }

    width: 100%;
    max-width: $aboutWidth;
    height: $aboutHeight;

    margin-top: $marginHeight;
    margin-bottom: $marginHeight;
    
    display: flex;

    position: relative;

    &-header {
        $aboutHeaderFontSize: 100px;

        height: $aboutHeight;
        margin-right: 3em;
        display: inline-flex;
        flex-direction: column;

        // 禁止选中文字
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        span {
            --textColor: var(--themeColor);

            font: 900 $aboutHeaderFontSize 'Titillium Web';

            line-height: .8;

            width: fit-content;
            flex: auto;
            overflow: hidden;

            color: var(--textColor);
            filter: drop-shadow(0 0 2px var(--textColor));
            // 将字变为描边文字
            -webkit-text-stroke: 2px var(--textColor);
            -webkit-text-fill-color: transparent;
            opacity: 0.25;


            // 质数数列，为实心
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(5),
            &:nth-child(7),
            &:nth-child(11),
            &:nth-child(13),
            &:nth-child(15),
            &:nth-child(17),
            &:nth-child(23),
            &:nth-child(29),
            &:nth-child(31),
            &:nth-child(37),
            &:nth-child(41) {
                // 将字变为描边文字
                -webkit-text-stroke: initial;
                -webkit-text-fill-color: initial;
                color: var(--textColor);
            }

            // 原本使用:hover，但光标过于容易频繁触发hover该效果导致出现性能问题，改为active后交互性能良好
            &:active {
                --textColor: var(--embelliColor);
                opacity: 1;
                transition: all 0.05s;
            }

            transition: all 1s ease-in;
        }

        .full-text {
            flex-shrink: 0;
        }
    }

    &-text {
        height: calc(#{$aboutHeight * .4} + 70vh);
        margin-top: 33.3vh;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        font-size: 22px;
        color: #fff;
        text-shadow: $textShadow;

        &>* {
            opacity: 0;
        }
    }

    @media screen and (max-width: 900px) {
        &-header {
            display: none;
        }
    }

    @media screen and (max-device-width: 1366px) {
        &-text {
            height: $aboutHeight;
            margin-top: 0;
        }
    }
}
