// 调色盘
$dark: #101010;
$darkGrey: #333333;
$darkGreen: #163e34;
$purple: #563d7c;
$yellow: #ffcc22;
$vueColor: #41b883;
$vueColor2: #35495e;

$themeColor: #882233;

$shadowColor: rgba($dark, .4);

// 背景的遮罩颜色
// TODO 应该使用js来计算颜色

:root {
    // 主题色
    --themeColor: #{$themeColor};
    // 文本默认颜色
    --textColor: #cccccc;
    // 文本亮色
    --lightTextColor: snow;
    // 滚动条背景色
    --scrollbarColor: #232628;
    // 光标色
    --cursorColor: white;
}
