@font-face {
    font-family: 'Circular Bold';
    src: url('../assets/fonts/Circular-Bold.woff2.ttf');
}

@font-face {
    font-family: 'Circular';
    src: url('../assets/fonts/Circular-Book.woff.ttf');
}
