* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    // 抗锯齿
    // chrome、safari
    -webkit-font-smoothing: antialiased;
    // firefox
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-family: 'Circular Bold';
}

a {
    text-decoration: none;
    color: $textColor;
}

body {
    font-size: 14px;
    font-family: $defaultFont;
    color: $textColor;
}

%line-basic {
    position: absolute;

    width: $lineWidth;
    height: $lineHeight;

    background-color: #823;
    box-shadow: 0 0 8px #000;
}

.flex-vertically-center {
    align-items: center;
}

.flex-horizontal-center {
    justify-content: center;
}
