* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    // 抗锯齿
    // ? 没什么用
    // chrome、safari
    -webkit-font-smoothing: antialiased;
    // firefox
    -moz-osx-font-smoothing: grayscale;

    // IE10/Edge 去除滚动条
    -ms-overflow-style: none;
    // firefox 64 滚动条透明化
    scrollbar-color: transparent transparent;
    // firefox 64 去除滚动条
    scrollbar-width: none;

    // Chrome 去除滚动条
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

body {
    font: {
        size: 16px;
        family: $defaultFont;
    }

    color: var(--textColor);
    font-weight: normal;
}

body,
a {
    // 隐藏光标
    cursor: none;
}

a {
    text-decoration: none;
    color: var(--textColor);
}

.margin-wrapper {
    margin: {
        left: $miniMargin;
        right: $miniMargin;
    }

    @media screen and (max-width: 440px) {
        margin: {
            left: $miniMargin / 2;
            right: $miniMargin / 2;
        }
    }
}
