.scrollbar {
    position: fixed;
    right: 0;
    top: 0;
    width: $scrollbarWidth;
    height: 100vh;
    background-color: var(--scrollbarColor);
    z-index: 10000;

    .bar {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        // 高度由js计算
        height: 0;
        background-color: var(--themeColor);
        box-shadow:0 4px 8px var(--themeColor);

        // 在底端加一个三角形
        &::after {
            content: '';
            position: absolute;
            top: 100%;
            right: 0;

            // 三角形trick
            border: {
                top: $scrollbarWidth / 2 solid var(--themeColor);
                right: $scrollbarWidth / 2 solid transparent;
                bottom: $scrollbarWidth / 2 solid transparent;
                left: $scrollbarWidth / 2 solid var(--themeColor);
            }
        }
    }
}
