@import 'colors';

$bg-img: '/assets/imgs/background/72235081_p0.jpg';

$wechat-qrcode: '/assets/imgs/qrcode/wechat-qrcode.jpg';
$qq-qrcode: '/assets/imgs/qrcode/qq-qrcode.jpg';

$perspective-dist: 10px;
