// * globals

// 背景图片
//TODO 使用CSS变量，以便于js替换背景图片
$backGroundImage: '/assets/imgs/background/72235081_p0.jpg';

// 页面左右最小边距
$miniMargin: 64px;

// * fonts

// 默认字体
$defaultFont: 'PingFang SC',
'Circular',
'MircoSoft YaHei',
Sans-serif;

// hero字体
$titleFont: 'Circular Bold',
'PingFang SC';

// 加粗字体
$boldFont: 'Circular Bold',
'PingFang SC Bold';

// hero文本大小
$titleFontSize: 96px;

// contact文本大小
$contactFontSize: 28px;

// 图标大小
$iconSize: 24px;

// works文本大小
$workFontSize: 36px;

// * size

// 每个部分之间的间隔宽度
$gapWidth: 10vh;

// 装饰粗线的尺寸
$lineWidth: 20px;
$lineHeight: 140px;

// hero最大宽度
$heroWidth: 900px;

// contact部分的最大尺寸
$contactSize: 60vmin;

// works尺寸
$worksHeight: 80vh;
$worksVertPadding: 10vh;
$worksHorizPadding: 20vw;

// work尺寸
$workWidth: 35vmin;
$workMaxWidth: 300px;
$workHeight: $workWidth * 4 / 3;
$workMaxHeight: $workMaxWidth * 4 / 3;

// cursor尺寸
$outerBoxSize: 160px;
$normalOuterCursorSize: 30px;
$innerBoxSize: 40px;
$normalInnerCursorSize: 20px;

// scrollbar宽度
$scrollbarWidth: 6px;

// homepage footer高度
$footerHeight: 64px;

// * shadow

// 文本阴影
$textShadow: 0 0 12px $shadowColor;

// works阴影
$workShadow: 0 0 24px 8px $shadowColor;

// * parallax

$workPerspective: 800px;
