// Default
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--body-color);
  background-color: var(--bg-color);
  transition: color var(--duration), background-color var(--duration);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

html {
  transition: color var(--duration), background-color var(--duration);
}

a:not(.button) {
  transition: color calc(var(--duration) / 2);

  &:hover {
    color: var(--link-color);
  }
}

.link-highlight a:not(.button) {
  text-decoration: underline;
  opacity: 0.8;
  transition: color calc(var(--duration) / 2), opacity calc(var(--duration) / 2);

  &:hover {
    opacity: 1;
  }
}

img {
  max-width: 100%;
}

// 被选中的文字
::selection {
  background: var(--title-color);
  color: var(--bg-color);
}
