// Default variables
html {
  --base-font-size: 20px;
}

// Light default theme
:root {
  --space: 3.5rem;
  --content-width: 860px;
  --header-height: 80px;
  --radius: 8px;
  --duration: 0.6s;

  --bg-color: #f8fafd;
  --bg-content-color: #fff;
  --bg-code: #282c34;
  --border-color: rgba(0, 0, 0, 0.1);
  --title-color: #24292e;
  --body-color: #34393e;
  --link-color: #f22;
  --link-shadow-color: #ff222233;
  --light-color: #a4a9ae;

  // Override variables for Dark theme
  &[data-theme='dark'] {
    --bg-color: #000;
    --bg-content-color: #101216;
    --bg-code: rgba(0, 0, 0, 0.3);
    --border-color: rgba(255, 255, 255, 0.1);
    --title-color: #c9d1d9;
    --body-color: #a9b1b9;
    --link-color: #00f;
    --link-shadow-color: #22f;
    --light-color: #495159;
  }
}

// Make things smaller for mobile
@media screen and (max-width: 639px) {
  html {
    --base-font-size: 16px;
  }
  body {
    --space: 1.5rem;
    --header-height: 60px;
  }
}
