:root {
  --base-font-size: 20px;
  --main-width: 900px;
  --aside-width: 210px;
  --layout-width: calc(var(--main-width) + var(--aside-width) + var(--space) * 3);
  --top-margin-width: 80px;
  --padding-width: 3.5rem;
  --space: 1rem;

  --article-font-size: 0.9em;
  --article-line-height: 1.75;
  --radius: 0.75em;
  --duration: 0.3s;

  // Light default theme
  --bg-color: #f8fafd;
  --bg-content-color: #fff;
  --bg-code: #282c34;
  --border-color: #{rgba(#000, 0.1)};
  --title-color: #24292e;
  --body-color: #34393e;
  --link-color: #f22;
  --link-shadow-color: #ff222233;
  --light-color: #a4a9ae;

  // Override variables for Dark theme
  &[data-theme='dark'] {
    --bg-color: #000;
    --bg-content-color: #16181a;
    --bg-code: #{rgba(#000, 0.3)};
    --border-color: #{rgba(#fff, 0.1)};
    --title-color: #c9d1d9;
    --body-color: #a9b1b9;
    --link-color: #00f;
    --link-shadow-color: #22f;
    --light-color: #596169;
  }
}

// tablet
@media screen and (max-width: $lg - 1) {
  :root {
    --base-font-size: 16px;
    --aside-width: 170px;
  }
}

// mobile
@media screen and (max-width: $sm - 1) {
  :root {
    --padding-width: 1.5rem;
    --top-margin-width: 60px;
  }
}
