---
import { Aside, Footer } from '~/components';
---

<div class="mx-auto flex p-0 relative max-w-[1080px] min-h-screen">
  <Aside class="sticky top-0" />
  <main class="m-0 pt-16 px-4 flex-1">
    <slot />
    <Footer />
  </main>
</div>

<style lang="scss">
// TODO: 移动端适配
@media screen and (max-width: 767px) {
  div {
    flex-direction: column;
  }
  main {
    z-index: 1;
    width: 100%;
    max-width: none;
    background-color: var(--global-bg-color);
    box-shadow: 0 0 20px var(--global-bg-color);
    transition: background-color 0.5s, box-shadow 0.5s;
    padding-top: 0;
  }
}
</style>
