---
import { Aside, BlogHeader, Footer } from '~/components';
---

<div class="mx-auto flex px-4 max-sm:px-0 relative max-w-[1080px] min-h-screen">
  <Aside class="sticky top-0 max-md:hidden" />
  <BlogHeader class="md:hidden" />
  <main class="m-0 pt-16 px-4 flex-1">
    <slot />
    <Footer class="max-sm:text-center" />
  </main>
</div>

<style lang="scss">
// TODO: 移动端适配
@media screen and (max-width: 767px) {
  div {
    flex-direction: column;
  }
  main {
    padding-top: 0;
  }
}
</style>
